body{
	background: url(https://images8.alphacoders.com/700/700862.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    background-position: fixed;
}
.container{
	padding: 0 ;
	margin: 0;
}
.col-xs-12{
	width: 100%;
	margin:0 10px 0 0;
	padding: 0;
	position: fixed;
    z-index: 100;
}

.profile-icon{
    width: 25px;
    height: 25px;
	margin-right: 10px;
}

.col-xs-4{
	margin-top: 40px;

		float: left;
		width: 350px;

}
.col-xs-8{
	margin-top: 80px;
    position: relative;

}
.btn-wrapper{
    margin-top: 10%;
    margin-bottom: 40%;
}
.btn-qr{
    float: left;
    margin:0 5%;
}
#btn-import{
    height: 80px;
    width:230px;

}
#text-btn-import{
    font-size: 30px;
    margin: auto;
    padding: auto;
}

.todo{
	text-align: left;
	position: relative;
}


/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
	text-align:center;;
    max-width:350px;
    width:80%;

    padding:10px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
.fullbox{
	width: 100%;
	margin-top: 12%;
	margin-right: 10%
}
.attbox{
		display: none;
    border-radius:30px;
    border:1px solid rgba(255,255,255,.3);
    padding:5px 5px 35px 5px;
    text-align: center;
    text-shadow:0 1px 1px rgba(0,0,0,.3);
    background-color: #ecf0f1 ;
    position: relative;
		margin-right: 1%;
		float: left;
  }
	.stdbox{

			display: none;
	    border-radius:30px;
	    border:1px solid rgba(255,255,255,.3);
	    padding:5px 5px 5px 5px;
	    text-align: center;
	    text-shadow:0 1px 1px rgba(0,0,0,.3);
	    background-color: #ecf0f1 ;
	    position: relative;
			float: left;
	  }
	.fui-document{
		width: 100%;
	}
	th{
		text-align: center;
	}

.box{
	display: none;
    margin: auto;
    padding: auto;
    width: 90%;
    margin: 7% ;
}

.info-box{
    width: 80%;
    border-radius:30px;
    border:1px solid rgba(255,255,255,.3);
    padding:10px 10px 10px 10px;
    text-align: left;
    text-shadow:0 1px 1px rgba(0,0,0,.4);
    background: rgba(255,255,255,1);
    margin: auto;
  }


.dropdown{
	display: none;
    position: relative;
}
.dropdownstd{
	display: none;
}

.data-option{
    display: none;
}

.drop-date{
    display: none;
    position: relative;
}

.fui-eye{
    margin-left: 30%;
}
.fui-new{
    margin-left: 30%;
}

.fui-time{
    margin-left: 20%;
}
.btn-success{
    width: 100%;
    position: absolute;


}

.todo .dropdown li{
padding: 10px 10px 10px 10px;

}
.todo .dropdownstd li{
padding: 10px 10px 10px 10px;

}
.dropdownstd input[type='text']{
    width: 300px;
}
